.onemember_title{
	width: 56%;
    margin: 15px auto;
    text-align: center;
    height: 100px;
}

.onemember_title h3{
	font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    color: black;
}

.onemember_info{
	width:800px;
	margin:0 auto;
	background-color: white;
	min-height: 410px;
	margin-bottom: 30px;
}

.onemember_info_title{
	width:100%;
	height:50px;
	color:white;
	background-color: #c490bf;
}

.onemember_info_title h4{
    font-size: 23px;
    font-weight: bold;
    color: white;
    line-height: 50px;
    font-family: 微软雅黑;
    letter-spacing: 5px;
    margin: 0px;
    float: left;
    padding-left: 25px;
}

.onemember_info_pic{
	float:left;
	margin: 40px;
	width:200px;
	max-height:100%;
	margin-top: 20px;
}

.onemember_info_pic img{
	width:100%;
}

.onemember_info_content{
	min-height:350px;
	margin-top: 20px;
}

.onemember_info_content p{
	line-height: 30px;
	font-size: 20px;
	color:black;
	font-weight: bold;
}

.onemember_record{
	width:100%;
	min-height: 500px;
	background-color: white;
}

.onemember_record_title{
	width:100%;
	height:50px;
	color:white;
	background-color: #c490bf;
}

.onemember_record_title h4{
    font-size: 23px;
    font-weight: bold;
    color: white;
    line-height: 50px;
    font-family: 微软雅黑;
    letter-spacing: 5px;
    margin: 0px;
    float: left;
    padding-left: 25px;
}

.onemember_record_content{
	width:950px;
	background-color: white;
	padding:20px 50px;
	margin-bottom: 30px;
}

.record_content_soc,.record_content_bas{
	width:42%;
	min-height:300px;
	border:4px solid #f19ec2;
	padding:20px;
}

.record_content_soc{
	float:left;
}

.record_content_bas{
	float:right;
}

.record_content_title{
	height:50px;
	padding-left: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid #383838;
}

.record_content_title h5{
	line-height:50px;
	font-size: 27px;
	font-weight: bold;
	float:left;
	margin:0;
	height:100%;
	text-shadow: 3px 3px 5px #ccc;
}

.record_content_title img{
	float:left;
	height:100%;
	margin-left: 40px;
}

.record_content_list{
	margin:0;
	list-style: none;
	height:50px;
	padding: 0 20px;
	border-bottom:2px solid #383838;
	text-align: center;
}

.record_content_list li{
	float:left;
	font-size: 20px;
	width:119px;
	line-height: 50px;
	height:100%;
}