.rank_title{
	width:56%;
	margin:15px auto;
	text-align: center;
	height:100px;
	position: relative;
}

.rank_logo_left,.rank_logo_right{
	height:80%;
	bottom:10%;
	position:absolute;
}

.rank_logo_left{
	left: 0;
}

.rank_logo_right{
	right: 0;
}

.rank_title h3{
	font-size: 50px;
	font-weight: bold;
	line-height: 100px;
	color:black;
}

.rank_box_team,.rank_box_member{
	width:48%;
}

.rank_box_team{
	float:left;
}

.rank_box_member{
	float:right;
}

.rank_box_content{
	min-height: 500px;
	background-color: white;
	padding: 15px;
	font-size: 18px;
}

.box_content_header{
	height: 35px;
	font-size: 18px;
	font-weight: bold;
	border-top: 2px solid #a1a1a1;
}

.content_header_year{
	margin: 0;
	list-style: none;
	width: 100%;
	height: 30px;
	border-bottom: 2px solid #a1a1a1;
	text-align: center;
	padding: 5px 0;
}

.content_header_choice{
	margin:0;
	list-style: none;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #a1a1a1;
	text-align: center;
	padding: 5px 20px;
}

.content_header_choice li{
	float: left;
	line-height: 30px;
	height:30px;
}



.content_header_item{
	line-height: 32px;
	float: left;
	width:14%;
	font-size: 16px;
	margin-right: 5px;
	cursor: pointer;
	height:30px;
}

.content_header_search{
	line-height: 28px;
	float: left;
	width: 90px;
	font-size: 16px;
	margin-right: 5px;
}

.content_header_search .input_year{
	margin:0;
	width:55px;
	font-size: 15px;
	height:75%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border:1px solid black;
	background-color: #f7dee9;
	border-radius: 0;
}

.icon_search{
	color: white;
	background-color: #f6c7db;
	height: 24px;
	width: 25px;
	line-height: 21px;
	cursor: pointer;
}

.content_header_choice .content_header_item{
	margin-right: 10px;
}

.content_header_first{
	background-color: #f6c7db;
	width:17%;
	margin:-5px 0;
	font-size: 18px;
	line-height: 40px;
	margin-right: 5px;
	height:40px;
	float:left;
}

.content_header_choice .content_header_first{
	line-height: 40px;
	margin-right: 10px;
}

.rank_current{
	background-color: #f7dee9;
}

.box_content_main{
	margin-top: 15px;
	/*font-size: 15px;*/
}

.title{
	font-weight: bold;
}

.rank_main_list{
	margin:0;
	list-style: none;
	/*width: 100%;*/
	height: 30px;
	border-bottom: 1px solid #a1a1a1;
	text-align: center;
	padding: 5px 20px;
}

.rank_main_list li{
	float: left;
	line-height: 30px;
	height:30px;
}

.rank_main_position{
	width: 15%;
}

.rank_main_teamname{
	width: 33%;
}

.rank_main_teamname a{
	color:#ea002a;
	cursor:pointer;
}

.rank_main_win , .rank_main_equal,.rank_main_score,.rank_main_lose
{
	width: 13%;
}

.rank_main_order{
	width: 0px;
	margin: 0;
}

.rank_main_order a{
	text-decoration: none;
	display: block;
}

.order_up{
	width: 0;
	height: 0;
	border: 5px solid transparent ;
	border-bottom-color: lightblue;
	margin-bottom: 5px;
	margin-top: 2px;
}

.order_down{
	width: 0;
	height: 0;
	border: 5px solid transparent ;
	border-top-color: gray ;
}

.rank_main_playername{
	width: 20%;
}

.rank_main_teamname1{
	width: 30%;
}

.rank_main_wintimes{
	width: 14%;
}

.rank_order_current{
	background-color: papayawhip;
}

.text_pos_left{
	text-align: left;
}

.rank_main_averagescore{
	width: 17%;
	margin-left: 17px;
}

.rank_main_teamname1 a{
	color:#ea002a;
	cursor:pointer;

}

.rank_main_playername a{
	color: cadetblue;
	cursor:pointer;
}

