{%extends 'base.html'%}
{%block content%}
<!--content开始-->
<div class="contentBox">
    <!--新闻页面-->
    <div class="news_content_events">
        <div class="news_title">
            <h1 >全部新闻</h1>
          
            <span class="news_title_search">
              <input type="text" class="news_title_input" />
              <a><i class="fa fa-search"></i></a>
            </span>
          
            </div>
            <div class="news_list_box">
               <div class="news_list1_container">
                   <div class="news_content">
                       <a class="news_con" target="_blank" href="">
                           <div class="news_hd">
                           <h3 >电子 VS 自动化（7:5）</h3>
                               </div>
                           <div class="news_chapter">
                           <div class="news_bd">
                               <div class="news_picture">
                                   <img src="{{ STATIC_URL }}images/news_pic01.png"/>
                               </div>
                               <div class="news_txt">
                                   <da class="news_time"><p>2015年11月10日</p></da>
                                   <div class="news_txt_con"><p>我要谈的不是斯蒂芬-库里的46分和勇士的10连胜，也不是布雷克-格里芬的两次技术犯规被逐，而是泰勒-约翰逊的17分和追梦-格林的12次助攻
                                       ，我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连胜我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连.....</p>
                               </div>
                                   </div>
                               </div>
                           </div>
                           </a>
                       </div>

                  </div>
               <div class="news_list1_container">
               <div class="news_content">
                   <a class="news_con" target="_blank" href="http://nbachina.qq.com/a/20151113/046617.htm">
                       <div class="news_hd">
                           <h3 >电子 VS 自动化（7:5）</h3>
                       </div>
                       <div class="news_chapter">
                           <div class="news_bd ch">
                               <div class="news_picture">
                                   <img src="{{ STATIC_URL }}images/news_pic01.png"/>
                               </div>
                               <div class="news_txt">
                                   <da class="news_time"><p>2015年11月10日</p></da>
                                   <db class="news_txt_con"><p>我要谈的不是斯蒂芬-库里的46分和勇士的10连胜，也不是布雷克-格里芬的两次技术犯规被逐，而是泰勒-约翰逊的17分和追梦-格林的12次助攻
                                       ，我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连胜我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连......
                                   </db>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>

           </div>
               <div class="news_list1_container">
               <div class="news_content">
                   <a class="news_con" target="_blank" href="http://nbachina.qq.com/a/20151113/046617.htm">
                       <div class="news_hd">
                           <h3 >电子 VS 自动化（7:5）</h3>
                       </div>
                       <div class="news_chapter">
                           <div class="news_bd ch">
                               <div class="news_picture">
                                   <img src="{{ STATIC_URL }}images/news_pic01.png"/>
                               </div>
                               <div class="news_txt">
                                   <da class="news_time"><p>2015年11月10日</p></da>
                                   <db class="news_txt_con"><p>我要谈的不是斯蒂芬-库里的46分和勇士的10连胜，也不是布雷克-格里芬的两次技术犯规被逐，而是泰勒-约翰逊的17分和追梦-格林的12次助攻
                                       ，我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连胜我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连......
                                   </db>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>

           </div>
               <div class="news_list1_container">
               <div class="news_content">
                   <a class="news_con" target="_blank" href="http://nbachina.qq.com/a/20151113/046617.htm">
                       <div class="news_hd">
                           <h3 >电子 VS 自动化（7:5）</h3>
                       </div>
                       <div class="news_chapter">
                           <div class="news_bd ch">
                               <div class="news_picture">
                                   <img src="{{ STATIC_URL }}images/news_pic01.png"/>
                               </div>
                               <div class="news_txt">
                                   <da class="news_time"><p>2015年11月10日</p></da>
                                   <db class="news_txt_con"><p>我要谈的不是斯蒂芬-库里的46分和勇士的10连胜，也不是布雷克-格里芬的两次技术犯规被逐，而是泰勒-约翰逊的17分和追梦-格林的12次助攻
                                       ，我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连胜我要谈的是泰勒-约翰逊的17分和追梦-我要谈的不是斯蒂芬-库里的46分和勇士的10连......
                                   </db>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>

           </div>
                </div>
                <div class="news_page">
                  <a>点击加载更多</a>
                </div>
{%endblock%}
{%block customjs%}
<script src="{{ STATIC_URL }}js/sites/news.js"></script>
{%endblock%}



