<html lang="en">
<head>
	<meta charset="utf-8">
	<title>北京邮电大学研究生会体育部</title>
	<link rel="stylesheet" href="../css/base/bootstrap.min.css"/>
	<link rel="stylesheet" href="../css/base/font-awesome.min.css"/>
	<link rel="stylesheet" href="../css/base/base.css"/>
	<link rel="stylesheet" href="../css/sites/one_member.css"/>

</head>

<body>
<!---意见反馈-->
	<div id="feedbackall">

		<div id="feedbacktab">
			<i class="fa fa-angle-double-left"></i>
		</div>


		<div id="feedback">
			<div class="section">

				<h6>意见反馈</h6>

				<p class="message">欢迎您访问本网站！您可以在下面提出任何问题与建议，并请写出您的联系方式以便工作人员联系您！</p>

				<textarea></textarea>

				<a class="submit" href="#">提交</a>
			</div>

		</div>
	</div>


	<div id='goToTop'>
		<a href='#'><i class="fa fa-angle-up"></i></a>
	</div>

	<!--导航-->
	<div class="home_nav">
		<div class="home_nav_top">
			<div class="nav_top_logo" >
				<img src="../images/buptyh.png" alt="北京邮电大学研究生会"/>
			</div>

			<div class="nav_top_title">
				<h1>北京邮电大学研究生会</h1>
			</div>

			<div class="nav_top_right">
				<img class="nav_top_picbasket" src="../images/nav_basketball.png" alt=""/>
				<img class="nav_top_picfoot" src="../images/nav_football.png" alt=""/>

				<p class="top_right_ti">体</p>
				<p class="top_right_yu">育</p>
				<p class="top_right_bu">部</p>
			</div>
		</div>
		<div class="home_nav_footer">
			<ul class="nav_footer_list">
				<li class="footer_list_item"><a href="home.html">首页</a></li>
				<li class="footer_list_item"><a href="#">新闻</a></li>
				<li class="footer_list_item">
					<a href="#">赛程</a>
					<ul class="footer_list_second" style="display:none;">
						<li><a href="#">篮球</a></li>
						<li><a href="#">足球</a></li>
					</ul>
				</li>
				<li class="footer_list_item">
					<a href="#">球队</a>
					<ul class="footer_list_second" style="display:none;">
						<li><a href="#">篮球</a></li>
						<li><a href="#">足球</a></li>
					</ul>
				</li>
				<li class="footer_list_item"><a href="#">排名</a></li>
			</ul>
		</div>

	</div>

	<!--content开始-->
	<div class="contentBox">

		<!-- title-->
		<div class="onemember_title">
			<h3>张三</h3>
		</div>

		<div class="onemember_info">
			<div class="onemember_info_title">
				<h4>基本信息</h4>
			</div>

			<div class="onemember_info_pic">
				<img src="../images/nav_football.png" alt=""/>
			</div>

			<div class="onemember_info_content">
				<p>球队：信通1队(2015)</p>
				<p>学院：信通院</p>
				<p>号码：66号</p>
				<p>位置：中锋</p>
				<p>生日：1987年10月27日</p>
				<p>QQ：123456789</p>
				<p>个人介绍：此人很懒，什么都没有留下！此人很懒，什么都没有留下！此人很懒，什么都没有留下！此人很懒，什么都没有留下！此人很懒，什么都没有留下！</p>
					
			</div>
			
		</div>

		<div class="onemember_record">
			<div class="onemember_record_title">
				<h4>本年战绩</h4>
			</div>

			<div class="onemember_record_content">
				<div class="record_content_soc">
					<div class="record_content_title">
						<h5>足球</h5>
						<img src="../images/nav_football.png" alt="" />
					</div>

					<ul class="record_content_list">
						<li class="record_content_item">总胜场</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item">第1名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">总进球</li>
						<li class="record_content_item">39</li>
						<li class="record_content_item">第2名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">黄牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">红牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>

					
				</div>

				<div class="record_content_bas">

					<div class="record_content_title">
						<h5>篮球</h5>
						<img src="../images/nav_basketball.png" alt="" />
					</div>

					<ul class="record_content_list">
						<li class="record_content_item">总胜场</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item">第1名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">场均得分</li>
						<li class="record_content_item">39</li>
						<li class="record_content_item">第2名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">黄牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">红牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</body>

<script src="../js/base/jquery.min.js"></script>
<script src="../js/base/bootstrap.min.js"></script>
<script src="../js/base/base.js"></script>
<script src="../js/sites/one_member.js"></script>
</html>