{%extends 'base.html'%}
{%block content%}
	<!--content开始-->
	<div class="contentBox">

		<!-- title-->
		<div class="oneteam_title">
			<h3>信通1队(2015)</h3>
		</div>

		<!-- 合影和介绍框框 -->
		<div class="content_up">
			<!-- 此处有合影-->
			<div class="group_photo">
				<img src="{{ STATIC_URL }}images/carousel_pic1.png" alt="球队合影"/>
			</div>

			<!--  此处有介绍-->
			<div class="team_introduction">
				<div class="introduction_title">
					<p>球队简介</p>
				</div>
				<div class="introduction_content">
					<p>某某球队是一支非常有经验的球队等</p>
					<p>成立于2015年</p>
					<p>现有队员多少人</p>
					<p>球队精神是balabalabala</p>
					<p>领队XX</p> 
					<p>队长XX</p>
				</div>
				<div class="introduction_times">
					<h2>胜：40场&nbsp&nbsp&nbsp负：10场</h2>
				</div>

			</div>

		</div>

		<!-- 近期赛事介绍-->
		<div class="content_middle">

			<!-- 标题 赛事的-->
			<div class="events_title">
				<p>近期赛事</p>
			</div>

			<!-- 赛事 表项 内容-->
			<div class="content_events_main">
				<!-- 赛事 表头 -->
				<ul class="events_main_nav">
					<li class="content_item_state">状态</li>
					<li class="content_item_type">赛种</li>
					<li class="content_item_time">时间</li>
					<li class="content_item_team1">球队</li>
					<li class="content_item_score">比分</li>
					<li class="content_item_team2">球队</li>
				</ul>

				<!-- 赛事 内容-->
				<div class="events_main_content">
					<!-- 第一天赛事 -->
					<div class="events_main_contentbox">
						<!-- 第一天的第一场赛事-->
						<div class="content_item_date">2015-11-06</div>

						<ul class="contentbox_list events_list_finished">
							<li class="content_item_state">已结束</li>
							<li class="content_item_type">小组赛</li>
							<li class="content_item_time">18:30</li>
							<li class="content_item_team1"><a>信通1队(2015)</a></li>
							<li class="content_item_score">118:100</li>
							<li class="content_item_team2"><a>计算机1队(2015)</a></li>
							<li class="content_item_link"><a>结果</a></li>
							<li class="content_item_link"><a>战报</a></li>
						</ul>
						<!-- 第一天的第二场赛事-->
						<ul class="contentbox_list">
							<li class="content_item_state">未开赛</li>
							<li class="content_item_type">半决赛</li>
							<li class="content_item_time">18:30</li>
							<li class="content_item_team1"><a>信通1队(2015)</a></li>
							<li class="content_item_score">118:100</li>
							<li class="content_item_team2"><a>计算机1队(2015)</a></li>
							<li class="content_item_link"><a>结果</a></li>
							<li class="content_item_link"><a>战报</a></li>

						</ul>
					</div>

					<!-- 第二天赛事-->
					<div class="events_main_contentbox">
						<div class="content_item_date">2015-11-07</div>
						<!-- 第二天的第一场赛事-->
						<ul class="contentbox_list events_list_finished">
							<li class="content_item_state">已结束</li>
							<li class="content_item_type">小组赛</li>
							<li class="content_item_time">18:30</li>
							<li class="content_item_team1"><a>信通1队(2015)</a></li>
							<li class="content_item_score">118:100</li>
							<li class="content_item_team2"><a>计算机1队(2015)</a></li>
							<li class="content_item_link"><a>结果</a></li>
							<li class="content_item_link"><a>战报</a></li>
						</ul>
						<!-- 第二天的第二场赛事-->
						<ul class="contentbox_list">
							<li class="content_item_state">未开赛</li>
							<li class="content_item_type">半决赛</li>
							<li class="content_item_time">18:30</li>
							<li class="content_item_team1"><a>信通1队(2015)</a></li>
							<li class="content_item_score">118:100</li>
							<li class="content_item_team2"><a>计算机1队(2015)</a></li>
							<li class="content_item_link"><a>结果</a></li>
							<li class="content_item_link"><a>战报</a></li>
						</ul>
					</div>

				</div>

			</div>
		</div>

		<!-- 球队成员列表-->
		<div class="team_member">
			<!-- 标题 -->
			<div class="team_member_title">
				<h2>球队成员</h2>
			</div>

			<!-- 球员介绍正式开始-->
			<div class="team_member_content">
				<!-- 第一个人的介绍-->
				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/nav_football.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>
				<!-- 第二个人介绍-->
				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>

				<div class="member_content_person">
					<!-- 此人照片-->
					<div class="person_pic">
						<a href="">
							<img src="{{ STATIC_URL }}images/personal_photo.png" alt=""/>
						</a>
					</div>
					<!-- 此人基本信息-->
					<div class="person_info">
						<p>姓名：王聪</p>
						<p>号码：1号</p>
						<p>学院：信通院</p>
						<p>年级：2015级</p>
					</div>
				</div>


			</div>
		</div>


	</div>
{%endblock%}
{%block customjs%}
<script src="{{ STATIC_URL }}js/sites/home.js"></script>
{%endblock%}
