{%extends 'base.html'%}
{% block content %}
	<!--content开始-->
	<div class="contentBox">

		<!-- title-->
		<div class="onemember_title">
			<h3>张三</h3>
		</div>

		<div class="onemember_info">
			<div class="onemember_info_title">
				<h4>基本信息</h4>
			</div>

			<div class="onemember_info_pic">
				<img src="{{ STATIC_URL }}images/nav_football.png" alt=""/>
			</div>

			<div class="onemember_info_content">
				<p>球队：信通1队(2015)</p>
				<p>学院：信通院</p>
				<p>号码：66号</p>
				<p>位置：中锋</p>
				<p>生日：1987年10月27日</p>
				<p>QQ：123456789</p>
				<p>个人介绍：此人很懒，什么都没有留下！此人很懒，什么都没有留下！此人很懒，什么都没有留下！此人很懒，什么都没有留下！此人很懒，什么都没有留下！</p>
					
			</div>
			
		</div>

		<div class="onemember_record">
			<div class="onemember_record_title">
				<h4>本年战绩</h4>
			</div>

			<div class="onemember_record_content">
				<div class="record_content_soc">
					<div class="record_content_title">
						<h5>足球</h5>
						<img src="{{ STATIC_URL }}images/nav_football.png" alt="" />
					</div>

					<ul class="record_content_list">
						<li class="record_content_item">总胜场</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item">第1名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">总进球</li>
						<li class="record_content_item">39</li>
						<li class="record_content_item">第2名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">黄牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">红牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>

					
				</div>

				<div class="record_content_bas">

					<div class="record_content_title">
						<h5>篮球</h5>
						<img src="{{ STATIC_URL }}images/nav_basketball.png" alt="" />
					</div>

					<ul class="record_content_list">
						<li class="record_content_item">总胜场</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item">第1名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">场均得分</li>
						<li class="record_content_item">39</li>
						<li class="record_content_item">第2名</li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">黄牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>

					<ul class="record_content_list">
						<li class="record_content_item">红牌</li>
						<li class="record_content_item">99</li>
						<li class="record_content_item"></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
{%endblock%}
{%block customjs%}
<script src="{{ STATIC_URL }}js/sites/one_member.js"></script>
{%endblock%}
