{%extends 'base.html'%}
{%block content%}
	<!--content开始-->
	<div class="contentBox">
		<div class="rank_title">
			<img class="rank_logo_left" src="{{ STATIC_URL }}images/nav_basketball.png"/>
			<h3>篮球排行榜</h3>
			<img class="rank_logo_right" src="{{ STATIC_URL }}images/rank.png"/>
		</div>

		<div class="rank_box">
			<!-- 左侧的球队排名-->
			<div class="rank_box_team">
				<div class="content_title">
					<h2>球队排名</h2>
				</div>

				<div class="rank_box_content">
					<div class="box_content_header">
						<ul class="content_header_year">
							<li class="content_header_first">年份</li>
							<li class="content_header_item rank_current">全部</li>
							<li class="content_header_item">2015</li>
							<li class="content_header_item">2014</li>
							<li class="content_header_item">2013</li>
							<li class="content_header_search">
								<input type="text" class="input_year" placeholder="年份"/>
								<i class="fa fa-search icon_search"></i>
							</li>
						</ul>
					</div>

					<div class="box_content_main">

						<ul class="rank_main_list title">
							<li class="rank_main_position">名次</li>
							<li class="rank_main_teamname">队名</li>
							<li class="rank_main_win">胜</li>
							<li class="rank_main_equal">平</li>
							<li class="rank_main_lose">负</li>
							<li class="rank_main_score">积分</li>
							<li class="rank_main_order ">
								<a class="order_up " href=""></a>
								<a class="order_down" href=""></a>
							</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_teamname"><a>信通1队(2015)</a></li>
							<li class="rank_main_win">10</li>
							<li class="rank_main_equal">2</li>
							<li class="rank_main_lose">1</li>
							<li class="rank_main_score">200</li>
						</ul>

					</div>


				</div>
			</div>

			<!-- 右侧的队员排名-->
			<div class="rank_box_member">

				<div class="content_title">
					<h2>队员排名</h2>
				</div>

				<div class="rank_box_content">
					<div class="box_content_header">
						<ul class="content_header_year">
							<li class="content_header_first">年份</li>
							<li class="content_header_item rank_current">全部</li>
							<li class="content_header_item">2015</li>
							<li class="content_header_item">2014</li>
							<li class="content_header_item">2013</li>
							<li class="content_header_search">
								<input type="text" class="input_year" placeholder="年份"/>
								<i class="fa fa-search icon_search"></i>
							</li>
						</ul>

					</div>

					<div class="box_content_main">

						<ul class="rank_main_list title">
							<li class="rank_main_position">名次</li>
							<li class="rank_main_playername">人名</li>
							<li class="rank_main_teamname1">队名</li>
							<li class="rank_main_wintimes se_pink rank_order_current"><a href="">总胜场</a></li>
							<li class="rank_main_order ">
								<a class="order_up " href=""></a>
								<a class="order_down" href=""></a>
							</li>
							<li class="rank_main_averagescore se_pink"><a href="">场均得分</a></li>
							<li class="rank_main_order ">
								<a class="order_up " href=""></a>
								<a class="order_down" href=""></a>
							</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list ">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

						<ul class="rank_main_list">
							<li class="rank_main_position">第1名</li>
							<li class="rank_main_playername"><a href="">张三</a></li>
							<li class="rank_main_teamname1"><a href="">信通1队(2015)</a></li>
							<li class="rank_main_wintimes">23</li>
							<li class="rank_main_averagescore">23</li>
						</ul>

					</div>

				</div>
			</div>
		</div>

	</div>
{%endblock%}
{%block customjs%}
<script src="{{ STATIC_URL }}js/sites/rank.js"></script>
{%endblock%}
