{%extends 'base.html'%}
{%block content%}
	<!--content开始-->
	<div class="contentBox">
		<!-- title-->
		<div class="teamlist_title">
			<h3>球队列表</h3>
		</div>


		<div class="teamlist_main_content">
			<div class="teamlist_arrow_left">
				<i class="fa fa-chevron-left"></i>
			</div>

			<div class="teamlist_arrow_right">
				<i class="fa fa-chevron-right"></i>
			</div>

			<div class="teamlist_main_contentbox">
				<div class="teamlist_main_contentlist">
					<ul class="main_content_list">
						<li class="teamlist_content_year">
							2015年
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">三院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">经管院队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
					</ul>

					<ul class="main_content_list">
						<li class="teamlist_content_year">
							2014年
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">三院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">经管院队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
					</ul>

					<ul class="main_content_list main_content_last">
						<li class="teamlist_content_year">
							2013年
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">三院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">经管院队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
					</ul>
				</div>


				<div class="teamlist_main_contentlist">
					<ul class="main_content_list">
						<li class="teamlist_content_year">
							2012年
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">三院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">经管院队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
					</ul>

					<ul class="main_content_list">
						<li class="teamlist_content_year">
							2011年
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">三院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">经管院队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
					</ul>

					<ul class="main_content_list main_content_last">
						<li class="teamlist_content_year">
							2010年
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机1队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">三院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">经管院队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">计算机2队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">自动化(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">四院联队(2015)</a>
						</li>
						<li class="teamlist_content_item">
							<a href="#">信通2队(2015)</a>
						</li>
					</ul>
				</div>
			</div>

			
		</div>

	</div>
{%endblock%}
{%block customjs%}
<script src="{{ STATIC_URL }}js/sites/teamlist.js"></script>
{%endblock%}
